<% include ../partials/header %>
    <h1>you've hit the INDEX employees route</h1>
    <% employees.forEach(employee=> { %>
        <li> <%= employee.firstName + " " + employee.lastName %> </li>
        <p>
            <a href="/employee/<%= employee._id %>"> More Info</a>
        </p>

    <% }); %>
<% include ../partials/footer %>
