<% include ../partials/header %>
<div class="ui container">
    <form class="ui form" action="/employee/new" method="POST">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <input type="text" name="employeeNumber" placeholder="Employee Number">
            <input type="text" name="address" placeholder="Address">
            <input type="text" name="phone" placeholder="phone">
            <input type="text" name="DOB" placeholder="Date of Birth">
            <input type="text" name="sickDaysLeft" placeholder="Sick Days Left">
            <input type="text" name="vacationDaysLeft" placeholder="Vacation Days Left">
            <button>Submit</button>
    </form>
</div>
<% include ../partials/footer %>