<html>
    <head>
        <title>
            TLC
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="/moment/moment.js"></script>
        <script src="/combodate-1.0.7/combodate.js"></script>
    </head>
    <body>